name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - run: go build -mod=vendor ./...
      - run: go test -mod=vendor ./... -v -race -count=1
      - run: go vet -mod=vendor ./...
      - uses: golangci/golangci-lint-action@v6
